<p id="notice"><%= notice %></p>

<div class="container">
	<div class="col-xs-6">
		<div class="issues">
			<% @issues.each do |issue| %>
			<div class="one_issue">
				<p>Issue # <%= issue.id %></p>
				<p>Estimated hours: <%= issue.estimated_hours %></p>
				<p>Hours: <%= issue.hours %></p>
				<p>Status: <%= issue.status %></p>
				<p>Subject: <%= issue.subject %></p>
			</div>
			<% end %>
		</div>	
	</div>

	<div class="col-xs-6">
		<div class="sprint">
			<p>Sprint for:</p>
			<%= select_tag 'user_id', options_for_select(@users.collect{ |u| [u.name, u.id] }) %>
		</div>
	</div>
</div>
